In [20]:
import pandas as pd

total_date = pd.read_csv("C:/Users/USER/Desktop/설비학회/Dataset_장비이상 조기탐지 AI 데이터셋/data/5공정_180sec/total_date.csv")
error_lot_list = pd.read_csv("C:/Users/USER/Desktop/설비학회/Error Lot list.csv")

In [21]:
total_date

       Index  Process        Time       Temp  Current        Date
0          1        1   4:24:03.0  75.139142    1.610  2021-09-06
1          2        1   4:24:08.0  76.660421    1.530  2021-09-06
2          3        1   4:24:13.0  77.177660    1.701  2021-09-06
3          4        1   4:24:18.0  76.586434    1.736  2021-09-06
4          5        1   4:24:23.0  77.877104    1.748  2021-09-06
...      ...      ...         ...        ...      ...         ...
51079   1544       43   6:45:03.4  67.312474    1.560  2021-10-27
51080   1545       43   6:45:08.4  65.533664    1.472  2021-10-27
51081   1546       43   6:45:13.4  66.740424    1.523  2021-10-27
51082   1547       43   6:45:18.4  68.045185    1.483  2021-10-27
51083   1548       43   6:45:23.4  68.472491    1.511  2021-10-27

[51084 rows x 6 columns]

In [26]:

# Correct the column names
error_lot_list.columns = ['oper_date', 'bd1', 'bd2', 'bd3', 'bd4', 'bd5', 'bd6', 'bd7', 'bd8', 'bd9', 'bd10', 'bd11']
total_date.columns = ['Index', 'process', 'Time', 'temp', 'current', 'date']

# Merging data
merged_data = pd.merge(
    left=error_lot_list.melt(id_vars=['oper_date'], value_vars=['bd1', 'bd2', 'bd3', 'bd4', 'bd5', 'bd6', 'bd7', 'bd8', 'bd9', 'bd10', 'bd11'], value_name='process'),
    right=total_date.groupby(['date', 'process'])[['temp', 'current']].mean().reset_index(),
    left_on=['oper_date', 'process'],
    right_on=['date', 'process'],
    how='right'
)

# Adding a column to check if the process matches or not
merged_data['condition_met'] = merged_data['oper_date'].notna()

# Removing 'oper_date' and 'variable' columns
final_data = merged_data.drop(columns=['oper_date', 'variable'])

# Converting 'process' to integer
final_data['process'] = final_data['process'].astype(int)
final_data.rename(columns={'temp': 'temp_avg', 'current': 'current_avg'}, inplace=True)

# Displaying the first few rows of the final data
final_data
final_data.to_csv("C:/Users/USER/Desktop/설비학회/Dataset_장비이상 조기탐지 AI 데이터셋/data/5공정_180sec/total_analysis.csv")